/* ========== Hiệu ứng tráng gượng ========== */

.effect_mirror {
    position: relative;
    overflow: hidden;
}

.effect_mirror::after,
.effect_mirror::before {
    position: absolute;
    content: "";
    top: 0%;
    transform: skew(145deg);
    right: 150%;
    width: 50%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
    background-image: linear-gradient(to right, #ffffff00 0%, #ffffff7c 100%);
}

.effect_mirror:hover::after,
.effect_mirror:hover::before {
    right: -100%;
    transition: all 1s ease;
}

.effect_mirror:hover::after {
    transition: all 1s 0.1s ease !important;
}


/* ========== phóng to ========== */

.effect_zoom {
    transform: scale(1);
    transition: all 0.4s;
}

.effect_zoom:hover {
    transform: scale(1.1);
}


/* ========== hiệu ứng gương thu phóng ========== */

.effect_zoom_mirror:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
    -o-transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
    transition: all 0.4s cubic-bezier(0.94, 0.85, 0.1, 0.62) 0s;
    z-index: 1;
    border: 200px double transparent;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
}

.effect_zoom_mirror:hover:before {
    opacity: 0;
    border: 0 double rgba(255, 255, 255, 0.7);
    visibility: hidden;
}