.owl-slider .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 30px;
}

.form_client_main .owl-nav button.owl-prev,
.form_photos_project .owl-nav button.owl-prev {
    transform: translateX(calc(-100% - 27px));
}

.form_client_main .owl-nav button.owl-next,
.form_photos_project .owl-nav button.owl-next {
    transform: translateX(calc(100% + 27px));
}

.form_blogs_main .owl-dots,
.form_partner .owl-dots {
    margin-top: clamp(20px, 7vw, 70px) !important;
}

.form_project_main {
    overflow: hidden;
}

.form_project_main .flipster__item {
    opacity: 1;
}

.form_project_main .flipster__nav__item {
    width: 8px !important;
    height: 8px !important;
    background: #ccc !important;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s;
    margin: 0px 3px !important;
}

.form_project_main .flipster__nav__item--current {
    background: var(--html-bg-website) !important;
    opacity: 1;
}

.form_project_main .flipster__nav {
    position: absolute;
    bottom: clamp(0px, 2vw, 10px) !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    margin: 0px;
}

.form_project_main .flipster__nav__item a {
    opacity: 0 !important;
    width: 8px;
    height: 8px;
    display: block;
    padding: 0px;
}

.form_dm_product_index .owl-nav button {
    background: unset !important;
    box-shadow: unset !important;
    color: black !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}


/* ========zoom====== */

.zoom_web {
    overflow: hidden;
}

.zoom_web {
    transform: scale(1);
    transition: all 0.5s;
    overflow: hidden;
}

.zoom_web:hover {
    transform: scale(1.1);
}


/* xu */

@keyframes ring {
    100% {
        transform: rotateY(360deg);
    }
}

.ring_web {
    position: relative;
    animation: ring 3s linear infinite;
}

.ring_web:hover {
    position: relative;
    animation: ring 1s linear infinite;
}