.content_admin ol {
    padding-inline-start: 20px;
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.content_admin ul {
    list-style: inherit;
    padding-inline-start: 20px;
    margin-bottom: 10px;
}

.content_admin li::marker {
    color: var(--html-bg-website);
}

.content_admin blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.content_admin blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.content_admin blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0px;
    padding: 1em 10px 10px 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.content_admin blockquote p {
    display: inline;
}

.body_load {
    opacity: 0;
}