  /* Ẩn nút tăng/giảm trên Chrome, Safari, Edge */
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  /* Ẩn nút tăng/giảm trên Firefox */
  
  input[type="number"] {
      -moz-appearance: textfield;
  }